# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
my_custom_site/db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# PyCharm
.idea/

# Virtual Environment
venv/
env/
.venv/
*.egg-info/

# IDEs & Editors
*.swp